#!/usr/bin/sh
certbot_certificates_src={{ certbot_certificates_src }}
certbot_remote_user={{ certbot_remote_user }}
certbot_certificates_dest={{ certbot_certificates_dest }}
certbot_remote_container_name={{ certbot_remote_container_name }}
exitcode=0

sync_and_reload ()
{
  {{ certbot_rsync_binary_path }} --timeout=2 --copy-links --recursive --chmod=Fg+r,Da+rx \
	  ${certbot_certificates_src} ${certbot_remote_user}@${1}:${certbot_certificates_dest}
  let "exitcode+=$?"
{% if certbot_remote_container == true %}
  /usr/bin/ssh -o ConnectTimeout=2 ${certbot_remote_user}@${1} \
	  "{{ certbot_remote_container_runtime_path }} kill --signal=\"{{ certbot_remote_container_signal }}\" ${certbot_remote_container_name}"
  let "exitcode+=$?"
{% endif %}
}

{% for remote_host in certbot_remote_hosts %}
sync_and_reload "{{ remote_host }}"
{% endfor %}
exit $exitcode
